# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
PyQt5

numpy
pillow
pandas
openpyxl
matplotlib
tqdm
tables

ipython
ipykernel
ipympl

nbformat

psycopg2
pdvega
configobj

icd9cms
icd10-cm

sklearn

natsort
plotly
seaborn
joblib

pylint
pep8
autopep8
pycodestyle

cython